@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <title>Comenturi</title>
</head>
<body>

    <h1>Comentarii</h1>
    <table border="5" width="3000" style="table-layout:auto">
        <thead>
            <tr style="background-color:red">
                <td style="color:white">Nume </td>
                <td style="color:white">Comentariu</td>
            </tr>
        </thead>
        <tbody>  
        </tbody>

    </table>

</body>
</html>